<div class="impulse-wrapper">
    <div class="imp-login">
        <div class="imp-login-table">
            <div class="imp-login-cell">
                <div class="container">
                    <div class="row">
                        <div class="imp-login-flex">
                            <div class="imp-login-box imp-login-left">
                                <div class="imp-login-vert-flex">
                                    <div class="imp-login-box-v imp-login-box-top">
                                        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing ad minim veniam</p>
                                    </div>
                                    <div class="imp-login-box-v imp-login-box-bottom">

                                        <img src="~/images/login.png" alt="Login" />
                                    </div>
                                </div>
                            </div>
                            <div class="imp-login-box imp-login-right">
                                <div class="imp-login-form-wrap">
                                    <div class="left-100 text-center">
                                        <img src="~/images/logo.png" alt="Impulse" />
                                    </div>
                                    <div class="imp-login-form">
                                        <div class="left-100">
                                            <input type="text" class="form-control" placeholder="Username" />
                                        </div>
                                        <div class="left-100">
                                            <input type="password" class="form-control" placeholder="Password" />
                                        </div>
                                        <div class="left-100 imp-login-btns">
                                            <a href="javascript:void(0);" class="pull-left">Forgot Password?</a>
                                            <button class="imp-solid-button imp-button-small pull-right" id="btnLogin">Login</button>
                                        </div>
                                        <div class="left-100 imp-login-social">
                                            <label class="left-100">Login with</label>
                                            <ul class="imp-social imp-social-color">
                                                <li><a href="javascript:void(0);" class="imp-fb"></a></li>
                                                <li><a href="javascript:void(0);" class="imp-gp"></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="imp-login-footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-lg-12">
                        <p>&copy; letsimpulse 2018. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>