
@{
    ViewData["Title"] = "SignUpWith";
}

<h2>SignUpWith</h2>
hhhh
<form asp-controller="User" asp-action="SignUpWith" method="post">
	<!-- Sign in -->
	<input type="submit" value="Sign in" />
	<a href="/account/external?provider=Google">Sign in with Google</a>
</form>