<div class="impulse-wrapper">
    <div class="imp-dashboard">
        <header class="imp-dash-header">
            <div class="container">
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-lg-3 imp-dash-hleft">
                        <img src="~/images/logo.png" alt="Impulse" />
                    </div>
                    <div class="col-xs-7 col-sm-7 col-lg-7 imp-dash-hmid">
                        <span class="imp-search"><input type="search" placeholder="Search" /></span>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-lg-2 imp-dash-hright">
                        <ul>
                            <li><a href="javascript:void(0);" class="imp-notifications imp-unread"></a></li>
                            <li><a href="javascript:void(0);" class="imp-user"><img src="~/images/avatar.png" alt="Profile" /><i></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <section class="imp-dash-content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-lg-3 imp-dash-cleft">
                        <ul class="imp-menu">
                            <li><a href="javascript:void(0);"><img src="~/images/menu-icons/sports.png" alt="Sports" /><br>Sports</a></li>
                            <li><a href="javascript:void(0);"><img src="~/images/menu-icons/checkup.png" alt="Check-ups" /><br>Check-ups</a></li>
                            <li><a href="javascript:void(0);"><img src="~/images/menu-icons/diet.png" alt="Diet" /><br>Diet</a></li>
                            <li><a href="javascript:void(0);"><img src="~/images/menu-icons/football.png" alt="Football" /><br>Football</a></li>
                            <li><a href="javascript:void(0);"><img src="~/images/menu-icons/cycling.png" alt="Cycling" /><br>Cycling</a></li>
                            <li><a href="javascript:void(0);"><img src="~/images/menu-icons/treckking.png" alt="Trekking" /><br>Trekking</a></li>
                            <li><a href="javascript:void(0);"><img src="~/images/menu-icons/treckking.png" alt="Tennis" /><br>Tennis</a></li>
                            <li><a href="javascript:void(0);"><img src="~/images/menu-icons/cricket.png" alt="Cricket" /><br>Cricket</a></li>
                            <li><a href="javascript:void(0);"><img src="~/images/menu-icons/grounds.png" alt="Grounds" /><br>Grounds</a></li>
                            <li><a href="javascript:void(0);"><img src="~/images/menu-icons/yoga.png" alt="Yoga" /><br>Yoga</a></li>
                        </ul>
                        <div class="left-100">
                            <a href="javascript:void(0);" class="imp-view-all">View All</a>
                        </div>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-lg-9 imp-dash-cright">
                        <div class="imp-dash-block">
                            <div class="imp-dash-block-head">
                                <h4><a href="#" class="imp-back"></a>Cricket Tournament 2018 <span class="label label-warning">PENDING</span></h4>
                                <button class="imp-outline-button imp-button-small imp-button-cls pull-right">Cancel Request</button>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-lg-12 imp-dash-block-full">
                                <ul class="imp-request-unlisted">
                                    <li>
                                        <i>What do you want to conduct?</i>
                                        <strong>Cricket Tournament</strong>
                                    </li>
                                    <li>
                                        <i>Which location you prefer?</i>
                                        <strong>Greenfield Stadium, Trivandrum</strong>
                                    </li>
                                    <li>
                                        <i>How many employees would be there?</i>
                                        <strong>100 - 500</strong>
                                    </li>
                                    <li>
                                        <i>Expected expense per employee</i>
                                        <strong>1200</strong>
                                    </li>
                                    <li>
                                        <i>When are you expecting this event going to be happen?</i>
                                        <strong>Aug 30, 2018</strong>
                                    </li>
                                    <li>
                                        <i>How frequently?</i>
                                        <strong>Anually</strong>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>