<div class="impulse-wrapper">
    <div class="imp-dashboard">
        <header class="imp-dash-header">
            <div class="container">
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-lg-3 imp-dash-hleft">
                        <img src="~/images/logo.png" alt="Impulse" />
                    </div>
                    <div class="col-xs-7 col-sm-7 col-lg-7 imp-dash-hmid">
                        <span class="imp-search"><input type="search" placeholder="Search" /></span>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-lg-2 imp-dash-hright">
                        <ul>
                            <li><a href="javascript:void(0);" class="imp-notifications imp-unread"></a></li>
                            <li><a href="javascript:void(0);" class="imp-user"><img src="~/images/avatar.png" alt="Profile" /><i></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <section class="imp-dash-content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-lg-3 imp-dash-cleft">
                        <ul class="imp-menu">
                            <li><a href="javascript:void(0);"><img src="~/images/menu-icons/sports.png" alt="Sports" /><br>Sports</a></li>
                            <li><a href="javascript:void(0);"><img src="~/images/menu-icons/checkup.png" alt="Check-ups" /><br>Check-ups</a></li>
                            <li><a href="javascript:void(0);"><img src="~/images/menu-icons/diet.png" alt="Diet" /><br>Diet</a></li>
                            <li><a href="javascript:void(0);"><img src="~/images/menu-icons/football.png" alt="Football" /><br>Football</a></li>
                            <li><a href="javascript:void(0);"><img src="~/images/menu-icons/cycling.png" alt="Cycling" /><br>Cycling</a></li>
                            <li><a href="javascript:void(0);"><img src="~/images/menu-icons/treckking.png" alt="Trekking" /><br>Trekking</a></li>
                            <li><a href="javascript:void(0);"><img src="~/images/menu-icons/treckking.png" alt="Tennis" /><br>Tennis</a></li>
                            <li><a href="javascript:void(0);"><img src="~/images/menu-icons/cricket.png" alt="Cricket" /><br>Cricket</a></li>
                            <li><a href="javascript:void(0);"><img src="~/images/menu-icons/grounds.png" alt="Grounds" /><br>Grounds</a></li>
                            <li><a href="javascript:void(0);"><img src="~/images/menu-icons/yoga.png" alt="Yoga" /><br>Yoga</a></li>
                        </ul>
                        <div class="left-100">
                            <a href="javascript:void(0);" class="imp-view-all">View All</a>
                        </div>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-lg-9 imp-dash-cright">
                        <div class="imp-dash-block">
                            <div class="imp-dash-block-head">
                                <h4><a href="#" class="imp-back"></a>New Request</h4>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-lg-12 imp-dash-block-full">
                                <div class="col-xs-6 col-sm-6 sol-lg-6 imp-pl0">
                                    <label>What do you want to conduct?</label>
                                    <select class="form-control">
                                        <option>Select a type</option>
                                        <option>Option 1</option>
                                        <option>Option 2</option>
                                    </select>
                                </div>
                                <div class="col-xs-6 col-sm-6 sol-lg-6 imp-pr0">
                                    <label>Which location you prefer?</label>
                                    <input type="text" placeholder="Enter location" class="form-control" />
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-xs-12 col-sm-12 sol-lg-12 imp-p0 imp-mt25">
                                    <label>How many employees would be there?</label>
                                    <div class="imp-radio">
                                        <label class="control control-radio">
                                            0-100
                                            <input type="radio" name="radio" checked="checked" />
                                            <div class="control_indicator"></div>
                                        </label>
                                        <label class="control control-radio">
                                            100-1000
                                            <input type="radio" name="radio" />
                                            <div class="control_indicator"></div>
                                        </label>
                                        <label class="control control-radio">
                                            1000-2000
                                            <input type="radio" name="radio" />
                                            <div class="control_indicator"></div>
                                        </label>
                                        <label class="control control-radio">
                                            2000-5000
                                            <input type="radio" name="radio" />
                                            <div class="control_indicator"></div>
                                        </label>
                                        <label class="control control-radio">
                                            5000-above
                                            <input type="radio" name="radio" />
                                            <div class="control_indicator"></div>
                                        </label>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-xs-6 col-sm-6 sol-lg-6 imp-pl0 imp-mt25">
                                    <label>Expected expense per employee</label>
                                    <input type="text" placeholder="Enter the amount" class="form-control" />
                                </div>
                                <div class="col-xs-6 col-sm-6 sol-lg-6 imp-pr0 imp-mt25">
                                    <label>When are you expecting this event going to be happen?</label>
                                    <input type="text" placeholder="Enter date" class="form-control" />
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-xs-12 col-sm-12 sol-lg-12 imp-p0 imp-mt25">
                                    <label>How frequently?</label>
                                    <div class="imp-radio">
                                        <label class="control control-radio">
                                            Anually
                                            <input type="radio" name="radio1" checked="checked" />
                                            <div class="control_indicator"></div>
                                        </label>
                                        <label class="control control-radio1">
                                            Quaterly
                                            <input type="radio" name="radio1" />
                                            <div class="control_indicator"></div>
                                        </label>
                                        <label class="control control-radio">
                                            Monthly
                                            <input type="radio" name="radio1" />
                                            <div class="control_indicator"></div>
                                        </label>
                                        <label class="control control-radio1">
                                            Weekly
                                            <input type="radio" name="radio1" />
                                            <div class="control_indicator"></div>
                                        </label>
                                        <label class="control control-radio">
                                            Once
                                            <input type="radio" name="radio1" />
                                            <div class="control_indicator"></div>
                                        </label>
                                    </div>
                                </div>
                                <!-- Buttons -->
                                <div class="col-xs-12 col-sm-12 sol-lg-12 imp-p0 imp-mt50">
                                    <button class="imp-solid-button imp-button-small imp-button-arr pull-left">Submit </button>
                                    <button class="imp-outline-button imp-button-small imp-button-cls imp-ml20 pull-left">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>