

<div class="impulse-wrapper">
    <div class="imp-dashboard">

        <section class="imp-dash-content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-9 col-sm-9 col-lg-9 imp-dash-cright">
                        <div class="imp-dash-block">
                            <img src="~/images/404.png" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>



