
@model Impulse.Model.Citizen
@if (Model != null)
{
    <div>
        <form method="post" class="" id="" asp-action="AddCitizenProfile">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="left-100">
                <label>Captain Name</label>

                <input asp-for="CaptainName" class="form-control" />
                <input asp-for="UserId" type="hidden" /> <span asp-validation-for="CaptainName" class="text-danger"></span>
            </div>
            <div class="left-100" id="EventSubDiv">
                <label>Company Name</label>
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>

            </div>
            <div class="left-100">
                <label>Designation</label>
                <input asp-for="Designation" class="form-control" />
                <span asp-validation-for="Designation" class="text-danger"></span>
            </div>
            <div class="left-100">
                <label>Company Email</label>
                <input asp-for="CompanyEmail" class="form-control" />
                <span asp-validation-for="CompanyEmail" class="text-danger"></span>

            </div>
            <div class="left-100">
                <label>Date of birth</label>
                <input asp-for="DOB" class="form-control" type="datetime"/>
                <span asp-validation-for="DOB" class="text-danger"></span>

            </div>
            <div class="left-100">
                <label>Blood Group</label>
                <input asp-for="BloodGroup" class="form-control" />
                <span asp-validation-for="BloodGroup" class="text-danger"></span>

            </div>
            <div class="left-100">
                <label>HR Email</label>
                <input asp-for="HREmail" class="form-control" />
                <span asp-validation-for="HREmail" class="text-danger"></span>

            </div>
            <div class="left-100">
                <label>HR Phone</label>
                <input asp-for="HRPhone" class="form-control" />
                <span asp-validation-for="HRPhone" class="text-danger"></span>

            </div>
            <div class="left-100">
                <div class="col-xs-12 col-sm-12 sol-lg-12 imp-p0 imp-mt50">
                    <input type="submit" value="Save" class="ant-btn imp-solid-button imp-button-small imp-button-arr pull-left ant-btn-primary"/>

                </div>
            </div>

        </form>
    </div>
}
else
{

    <div class="left-100">
        <label>Captain Name</label>

        <input asp-for="CaptainName" class="form-control" />
        <input asp-for="UserId" type="hidden" />
    </div>
    <div class="left-100" id="EventSubDiv">
        <label>Company Name</label>
        <input asp-for="CompanyName" class="form-control" />


    </div>
    <div class="left-100">
        <label>Designation</label>
        <input asp-for="Designation" class="form-control" />

    </div>
    <div class="left-100">
        <label>Company Email</label>
        <input asp-for="CompanyEmail" class="form-control" />


    </div>
    <div class="left-100">
        <label>Date of birth</label>
        <input asp-for="DOB" class="form-control" />


    </div>
    <div class="left-100">
        <label>Blood Group</label>
        <input asp-for="BloodGroup" class="form-control" />


    </div>
    <div class="left-100">
        <label>HR Email</label>
        <input asp-for="HREmail" class="form-control" />


    </div>
    <div class="left-100">
        <label>HR Phone</label>
        <input asp-for="HRPhone" class="form-control" />


    </div>



} 